<div class="page-content">

  <div class="global-navigation">
    <button [routerLink]="['']" class="global-navigation-button">На главную</button>
    <button [disabled]="(this.wrongWidth || this.wrongLength || this.wrongCastDepth || calcInfo.den < 0 || calcInfo.seamLength < 0 || calcInfo.seamWidth < 0 || calcInfo.seamCastDepth < 0)" class="global-navigation-button" (click)="onSaveSeam()">Добавить новый шов</button>
    <button disabled class="global-navigation-button">Рассчитать</button>
  </div>


    <ng-container *ngIf="seamList.length">
      <fieldset>
        <legend>Созданные Швы: {{seamList.length}}</legend>
        <button *ngFor="let seam of seamList; let i = index;" (click)="getSelectedSeam(i)">
          Шов № {{i+1}}
<!--          {{seam | json}}-->
        </button>
      </fieldset>
    </ng-container>


  <h4>Выбор ДКЗ</h4>

  <div class="zone-pick">
    <div [ngClass]="curDkz === 0 ? 'dkz-selected-btn' : 'zone-dkz-button'" (click)="pickHermetic(0)"> &#8544;</div>
    <div (click)="pickHermetic(1)" [ngClass]="curDkz === 1 ? 'dkz-selected-btn' : 'zone-dkz-button'"> &#8545;</div>
    <div (click)="pickHermetic(2)" [ngClass]="curDkz === 2 ? 'dkz-selected-btn' : 'zone-dkz-button'"> &#8546;</div>
    <div (click)="pickHermetic(3)" [ngClass]="curDkz === 3 ? 'dkz-selected-btn' : 'zone-dkz-button'"> &#8547;</div>
    <div (click)="pickHermetic(4)" [ngClass]="curDkz === 4 ? 'dkz-selected-btn' : 'zone-dkz-button'"> &#8548;</div>
  </div>

  <ng-container *ngIf="curHermetic.single || curHermetic.one">

    <h4>Выбор герметика</h4>

    <div class="hermetic-pick">
      <div *ngIf="!curHermetic.one" [ngClass]="indexOfCurHer === 0 ? 'hermetic-selected-button' : 'hermetic-pick-button'" (click)="getDen(0)">
        {{curHermetic.single}}
      </div>
      <div *ngIf="curHermetic.one" [ngClass]="indexOfCurHer === 0 ? 'hermetic-selected-button' : 'hermetic-pick-button'" (click)="getDen(0)">
        {{curHermetic.one}}
      </div>
      <div *ngIf="curHermetic.two" [ngClass]="indexOfCurHer === 1 ? 'hermetic-selected-button' : 'hermetic-pick-button'" (click)="getDen(1)">
        {{curHermetic.two}}
      </div>
    </div>

    <div class="user-inputs">


      <label for="sLength">

        <div class="user-inputs-row">

          L<sub>ш</sub>

          <input
            placeholder="Длина шва"
            [ngClass]="wrongLength ? 'user-input-warning' : ''"
            (input)="getInputLength()"
            id="sLength"
            type="number" [(ngModel)]="seamLength"
            name="seamLength"> (м)

          <span [ngClass]="wrongLength ? 'user-outer-warning' : 'user-outer-nowarning'">&nbsp;!!!</span>
<!--          <span [ngStyle]="{'visibility' : wrongLength ? 'visible' : 'hidden'}" style="color: red;">&nbsp;!!!</span>-->

        </div>

      </label>


      <label for="sWidth">

        <div class="user-inputs-row">

          B<sub>ш</sub>

          <input
            placeholder="Ширина шва"
            [ngClass]="wrongWidth ? 'user-input-warning' : ''"
            (input)="getInputWidth()"
            id="sWidth"
            type="number" [(ngModel)]="seamWidth"
            name="seamWidth"> (мм)

          <span [ngClass]="wrongWidth ? 'user-outer-warning' : 'user-outer-nowarning'">&nbsp;!!!</span>

        </div>

      </label>


      <label for="sDepth">

        <div class="user-inputs-row">

          H<sub>ш</sub>

          <input
            placeholder="Глубина разделки шва"
            [ngClass]="wrongDepth ? 'user-input-warning' : ''"
            (input)="getInputDepth()"
            id="sDepth"
            type="number" [(ngModel)]="seamDepth"
            name="seamDepth"> (мм)

          <span [ngClass]="wrongDepth ? 'user-outer-warning' : 'user-outer-nowarning'">&nbsp;!!!</span>

        </div>

      </label>


      <label for="sCastDepth">

        <div class="user-inputs-row">

          H<sub>зш</sub>

          <input
            placeholder="Глубина заливки камеры шва"
            [ngClass]="wrongCastDepth ? 'user-input-warning' : ''"
            (input)="getInputCastDepth()"
            id="sCastDepth"
            type="number" [(ngModel)]="seamCastDepth"
            name="seamCastDepth"> (мм)

          <span [ngClass]="wrongCastDepth ? 'user-outer-warning' : 'user-outer-nowarning'">&nbsp;!!!</span>

        </div>

      </label>


    </div>




  </ng-container>

<!--  <ng-container *ngIf="(bContainer | async)?.seam as seams">-->
<!--    <em>-->
<!--      {{seams | json}}-->
<!--    </em>-->
<!--  </ng-container>-->

</div>
