:root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  width: 88%;
  margin: auto;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.global-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 44vw;
  gap: 1.22em;
}

.global-navigation-button {
  flex: 1;
  width: 10vw;
}
